@media screen and (max-width: 425px) {
   #custom-h1{
    font-size: 1.875rem !important;
    margin-bottom: 1.25rem !important;
   } 
    .img{
    display: none;
   } 
   .card-height{
    max-height: 9.625rem;
   }
   h2{
    font-size: 1.5625rem !important;
   }
   .output-text{
    font-size: 1.875rem;
   }
   .form-control{
    padding-top: 10px !important;
    padding-bottom: 5px !important;
   }
   .blur-background{
    border-radius: 0;
   }
}

@media screen and (max-width: 375px){
    #custom-h1{
        font-size: 1.5625rem !important;
        margin-top: 0.625rem !important;
        margin-bottom: 0.625rem !important;
    } 
    h2{
        font-size: 1.5625rem !important;
    }
    .card-height{
        max-height: 10rem;
    }
    .output-text{
        font-size: 2.5rem;
    }
    .img{
        display:none;
    } 
    .form-control{
        padding: 0 0.3125rem !important;
    }
    .form-div{
        margin: 0 0.625rem !important;
    }
    .blur-background{
        border-radius: 0;
    }
}

@media screen and (max-width: 320px) {
  #custom-h1 {
    font-size: 1.5625rem !important;
    margin: 0.9375rem 0 !important;
  }
  .img {
    display: none;
  }
  h2 {
    margin: 0.3125rem 0 !important;
    font-size: 1.5625rem !important;
  }
  .form-control {
    padding-top: 0.3125rem !important;
    padding-bottom: 0.3125rem !important;
  }
  .card-height {
    max-height: 8.75rem;
  }
  .output-text {
    font-size: 1.5625rem;
  }
  .form-div {
    margin: 0.3125rem 0.3125rem;
  }
  .blur-background{
    border-radius: 0rem;
  }
}
