/* For Setting Background image */
body {
  background-image: url(images/background.jpg);
}

/* For hiding the scrollbar. */
body::-webkit-scrollbar {
  display: none;
}

/* Maiking div blurred. */
.blur-background {
  background: rgba(0, 0, 0, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}

/* Virtical height for cards. */
.card-height {
  height: 85vh;
}

/* To adjust the images */
.img {
  border-radius: 10px;
  width: 26.875rem;
  height: 18.75rem;
  margin-top: 0.625rem;
}

.form-control {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.px-text {
  color: #36ff80;
}

.rem-text {
  color: #ff8036;
}

.percent-text {
  color: #e436ff;
}

.output-text {
  font-family: "Comfortaa", cursive;
  font-size: 4.375rem;
}

h2 {
  font-size: 2rem !important;
  font-family: "Comfortaa", cursive;
  margin: 0.5rem !important;
}

h1 {
  font-size: xxx-large !important;
  font-weight: bolder !important;
  margin-top: 1.875rem !important;
  font-family: "Comfortaa", cursive;
}
